.about {
  margin-top: 11vh;
  height: 100vh;
  padding-top: 4rem;
  /* background-color: red; */
}
.about h2 {
  text-align: center;
}
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70vh;
  gap: 3rem;
  margin-top: 3rem;
}
.about p {
  line-height: 1.9;
  font-size: 18px;
}
.about-right h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
  opacity: 70%;
}
.about img {
  width: 100%;
}
.btn-seemore {
  margin-top: 1rem;
}
